**Q1. What are data structures, and why are they important?**

**Answer:** Data structures are methods of organizing data (e.g., arrays, trees) to allow efficient storage, retrieval, and manipulation.

**Q2. Explain the difference between mutable and immutable data types with examples.**

**Answer:** Mutable types (e.g., list `[1,2]`) can be changed, but immutable types (e.g., tuple `(1,2)`) cannot be modified after creation.

**Q3. What are the main differences between lists and tuples in Python?**

**Answer:** Lists are mutable and slower, while tuples are immutable, faster, and used when data must not change.

**Q4. Describe how dictionaries store data.**

**Answer:** Dictionaries store data as unordered key-value pairs using hashing for fast access.

**Q5. Why might you use a set instead of a list in Python?**

**Answer:** Sets automatically remove duplicates and offer faster membership checks.

**Q6. What is a string in Python, and how is it different from a list?**

**Answer:** A string is an immutable sequence of characters, while a list is mutable and can hold any data types.

**Q7. How do tuples ensure data integrity in Python?**

**Answer:** Tuples are immutable, so data cannot be changed accidentally after creation.

**Q8. What is a hash table, and how does it relate to dictionaries in Python?**

**Answer:** A hash table is a data structure that maps keys to values using hash functions. Python dictionaries use hash tables internally.

**Q9. Can lists contain different data types in Python?**

**Answer:** Yes, a single list can hold mixed data types like `[1, "text", 3.5]`.

**Q10. Explain why strings are immutable in Python.**

**Answer:** Strings are immutable to ensure memory efficiency and security, as they are widely used as keys in dictionaries.

**Q11. What advantages do dictionaries offer over lists for certain tasks?**

**Answer:** Dictionaries allow fast key-based lookups, unlike lists which require searching by index or value.

**Q12. Describe a scenario where using a tuple would be preferable over a list.**

**Answer:** When storing fixed data like coordinates `(x, y)` where modification is not required.

**Q13. How do sets handle duplicate values in Python?**

**Answer:** Sets automatically remove duplicate elements and store only unique values.

**Q14. How does the “in” keyword work differently for lists and dictionaries?**

**Answer:** For lists, it checks elements. For dictionaries, it checks only keys.

**Q15. Can you modify the elements of a tuple? Explain why or why not.**

**Answer:** No, tuples are immutable; their elements cannot be changed after creation.

**Q16. What is a nested dictionary, and give an example of its use case.**

**Answer:** A dictionary inside another dictionary, e.g., `{"student": {"name": "John", "age": 20}}` used for structured data.

**Q17. Describe the time complexity of accessing elements in a dictionary.**

**Answer:** Accessing an element is on average **O(1)** due to hash table implementation.

**Q18. In what situations are lists preferred over dictionaries?**

**Answer:** When order matters or when accessing data by index rather than keys.

**Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?**

**Answer:** Dictionaries use hashing, so elements have no fixed order, making index-based retrieval impossible.

**Q20. Explain the difference between a list and a dictionary in terms of data retrieval.**

**Answer:** Lists use index positions for retrieval, while dictionaries use keys for fast lookups.

**Q21. Write a code to create a string with your name and print it.**

In [ ]:
name = "Rishabh"
print(name)

**Q22. Write a code to find the length of the string "Hello World".**

In [ ]:
text = "Hello World"
print(len(text))

**Q23. Write a code to slice the first 3 characters from the string "Python Programming".**

In [ ]:
s = "Python Programming"
print(s[:3])

**Q24. Write a code to convert the string "hello" to uppercase.**

In [ ]:
s = "hello"
print(s.upper())

**Q25. Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [ ]:
s = "I like apple"
print(s.replace("apple", "orange"))

**Q26. Write a code to create a list with numbers 1 to 5 and print it.**

In [ ]:
lst = [1, 2, 3, 4, 5]
print(lst)

**Q27. Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [ ]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

**Q28. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [ ]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

**Q29. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [ ]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

**Q30. Write a code to reverse the list [10, 20, 30, 40, 50].**

In [ ]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

**Q31. Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [ ]:
t = (100, 200, 300)
print(t)

**Q32. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [ ]:
t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

**Q33. Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [ ]:
t = (10, 20, 5, 15)
print(min(t))

**Q34. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [ ]:
t = ('dog', 'cat', 'rabbit')
print(t.index('cat'))

**Q35. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [ ]:
t = ('apple', 'banana', 'mango')
print('kiwi' in t)

**Q36. Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [ ]:
s = {'a', 'b', 'c'}
print(s)

**Q37. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [ ]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

**Q38. Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [ ]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

**Q39. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [ ]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

**Q40. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [ ]:
s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

**Q41. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [ ]:
d = {'name': 'John', 'age': 25, 'city': 'Delhi'}
print(d)

**Q42. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [ ]:
d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

**Q43. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [ ]:
d = {'name': 'Alice', 'age': 30}
print(d['name'])

**Q44. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [ ]:
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

**Q45. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [ ]:
d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

**Q46. Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [ ]:
lst = [1, 2, 3]
t = (4, 5, 6)
d = {'a': 1, 'b': 2}
print(lst, t, d)

**Q47. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.**

In [ ]:
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

**Q48. Write a code to create a list with strings and print the element at the third index.**

In [ ]:
lst = ['apple', 'banana', 'cherry', 'mango']
print(lst[3])

**Q49. Write a code to combine two dictionaries into one and print the result.**

In [ ]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d1.update(d2)
print(d1)

**Q50. Write a code to convert a list of strings into a set.**

In [ ]:
lst = ['apple', 'banana', 'apple', 'mango']
s = set(lst)
print(s)